<!DOCTYPE html>
<html>
  <head>
      <script src='https://cdn.firebase.com/js/client/2.4.0/firebase.js'></script>
    <title>Custom Legend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
      }
      #map {
        height: 400px;
        width: 100%;
      }
      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="legend"><h3>Legend</h3></div>
    <script>
    // ...


  </script>
    <script>
      var myFirebase = new Firebase('https://driveit-e768a.firebaseio.com/development/locations/drivers/');
      var map;
      var features = []
      var markers = []
      
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: new google.maps.LatLng(28.94, 31.244723),
          mapTypeId: 'roadmap'
        });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          parking: {
            name: 'Parking',
            icon: iconBase + 'parking_lot_maps.png'
          },
          library: {
            name: 'Library',
            icon: iconBase + 'library_maps.png'
          },
          info: {
            name: 'Info',
            icon: iconBase + 'info-i_maps.png'
          }
        };
        /** Function to add a data listener **/
    var default_marker = new google.maps.Marker({
            position: new google.maps.LatLng(0, 0),
            icon: icons['info'].icon,
            map: map
          });
    default_marker.setMap(map)
    var startListening = function() {
      myFirebase.on('value', function(snapshot) {
        console.log(snapshot.val())
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];
        features = [];
        var dictionary = snapshot.val()
        for (var key in dictionary) {
          if (key != "driver_id") {
            if (key == "2"){
              var val = dictionary[key]
              var position = new google.maps.LatLng(val["lat"], val["long"])
              if (!default_marker.position.equals(position)){
                console.log(position)
                console.log(default_marker.position)
                  console.log('Not Equal')
                  default_marker.position = position
                  default_marker.setMap(map)
              }
            }else if (dictionary.hasOwnProperty(key)) {
            //   console.log(dictionary);
            //   var val = dictionary[key]
            //   console.log(key, dictionary[key]);
            //   console.log(val)
            //   features.push({
            //   position: new google.maps.LatLng(val["lat"], val["long"]),
            //   // position: new google.maps.LatLng(-33.91539, 151.22820),
            //   type : 'info'
            // });   
            }
          }
        }
        console.log("Features")
        console.log(features)
        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
          marker.setMap(map)
          markers.push(marker)
        });
      });
    }

    // Begin listening for data
    startListening();
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDabHITcg1cwDz_ofOLxjQqe9kG9zFf2yM&callback=initMap">
    </script>
  </body>
</html>